name: Build and deploy package

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

  steps:
  - uses: actions/checkout@main

  - name: Set up .Net Core
    uses: actions/setup-dotnet@v2
    with:
      dotnet-version: "6.0.x"

  - name: Build with dotnet
    run: dotnet build --configuration Release

  - name: Tests
    run: dotnet test

  - name: Create the package
    run: dotnet pack --configuration Release

  - name: Publish
    run: dotnet nuget push "Shagost.MoneyExtension/bin/Release/*.nupkg" -k ${{ secrets.NUGET_TOKEN }} -s https://api.nuget.org/v3/index.json
